= render layout: 'layouts/section', locals: { heading: 'On-Call Dashboard' } do
  - rosters = Current.user.assignments.includes(:roster).at(Time.current).collect(&:roster).map(&:name)
  - if rosters.any?
    .alert.alert-info
      You are currently on call for:
      %strong= rosters.join(', ')
  - Current.user.rosters.each do |roster|
    .card.mb-3
      .card-body
        = link_to roster.name, roster_assignments_path(roster)
