%h1 Development login
%h2 Login as:
.row
  - @rosters.each do |roster|
    .col-sm-4
      .card
        .card-body
          %h5.card-title= roster.name
          .card-text
            =form_tag sessions_dev_login_path do
              = hidden_field_tag :roster_id, roster.id
              .input-group
                = select_tag :user_id,
                  options_from_collection_for_select(roster.users, :id, :full_name),
                  class: 'form-control custom-select'
                .input-group-append
                  =submit_tag 'Login', class: 'btn btn-success'
