%h1.title New rotation

= form_for Rotation.new do |f|
  = f.label :name
  = f.text_field :name
  = f.submit 'Save'
  %br
  To assign the fallback user, first create the rotation, then add some users to it.
