*

!/app/
!/bin/
!/config/
!/db/
!/lib/
!/public/
!/.node-version
!/.npmrc
!/.ruby-version
!/config.ru
!/Gemfile
!/Gemfile.lock
!/package.json
!/package-lock.json
!/postcss.config.js
!/Rakefile
!/rolldown.config.js

**/*.key
