/config/database.yml
/log
/tmp

/coverage/index.html
/coverage/.resultset.json
/coverage/.resultset.json.lock
/coverage/assets

spec/examples.txt

/node_modules

## Environment normalisation:
/.bundle
/vendor/bundle
/vendor/gems
