#current-assignment.text-center
  .card.text-white.mb-3
    - if @current_assignment.present?
      .card-body.bg-success
        %h5.card-title Currently on call: #{@current_assignment.user.last_name}
    - else
      .card-body.bg-warning
        %h5.card-title No one is currently on call!
        - if @fallback_user.present?
          .card-text #{@fallback_user.last_name} is the fallback.
  .card.mb-3
    .card-body
      .card-text On-call switches at: #{switchover_time(@switchover_hour)}
