#current-assignment.text-center
  - if @current_assignment.present?
    .card.text-white.bg-success
      %h5.card-title Currently on call: #{@current_assignment.user.last_name}
  - else
    .card.text-white.bg-warning
      %h5.card-title No one is currently on call!
      - if @fallback_user.present?
        .card-body #{@fallback_user.last_name} is the fallback.
  .card
    .card-body On-call switches at: #{@roster.switchover_time.strftime('%-I:%M %P')}
