#assignments.text-center
  %table.table.table-sm.table-bordered.table-info.mb-3
    %caption.text-center Your upcoming assignments
    %thead
      %tr
        %th Start date
        %th End date
    %tbody
      - assignments.each do |assignment|
        %tr
          %td.w-50= assignment.start_date.strftime '%A, %B %e, %Y'
          %td.w-50= assignment.end_date.strftime '%A, %B %e, %Y'
