#assignments.text
  %table.table.table-sm.table-dark.table-bordered.my-4
    %caption.text-center.bg-dark.text-light Your upcoming assignments
    %thead
      %tr
        %th Start date
        %th End date
    %tbody
      - @assignments.each do |assignment|
        %tr
          %td= assignment.start_date.strftime '%A, %B %e, %Y'
          %td= assignment.end_date.strftime '%A, %B %e, %Y'
