%h1 Edit assignment
.container-fluid
  - if @current_user.admin_in?(@roster)
    = button_to 'Delete assignment',
      roster_assignment_path(@roster, @assignment),
      method: :delete, class: 'btn btn-danger mb-3'
  = render partial: 'form',
    locals: { path: roster_assignment_path(@roster, @assignment) }
