:ruby
  locals = { path: roster_assignment_path(@roster, @assignment),
             roster: @roster,
             assignment: @assignment,
             users: @users }
= render layout: 'layouts/section',
         locals: { heading: 'Edit assignment',
                   deletable: Current.user.admin_in?(@roster) ? roster_assignment_path : nil } do
  = render partial: 'form', locals: locals
