:ruby
  locals = { path: assignment_path(@assignment),
             roster: @roster,
             assignment: @assignment,
             users: @users }
= render layout: 'layouts/section',
         locals: { heading: 'Edit assignment',
                   deletable: Current.user.admin_in?(@roster) ? assignment_path(@assignment) : nil } do
  = render partial: 'form', locals: locals
