:ruby
  locals = { path: roster_assignments_path(@roster),
             start_date: @start_date,
             end_date: @end_date,
             roster: @roster,
             assignment: @assignment,
             users: @users }

%h1 New assignment
.container-fluid
  = render partial: 'form', locals: locals
