= render layout: 'layouts/roster', locals: { roster: @assignment.roster, nav_item: 'assignments' } do
  .card.mb-3
    .card-header
      New Assignment
    .card-body
      = form_with model: [@assignment.roster, @assignment] do |f|
        = render partial: 'fields', object: f
        .d-grid
          = f.button type: :submit, class: 'btn btn-outline-primary' do
            %i.fa-solid.fa-save
            Save
