%div
  %strong
    - if roster.on_call_user.present?
      = roster.on_call_user.full_name
    - else
      %span.text-primary
        %i.fa-solid.fa-triangle-exclamation
        Nobody
  is currently on call
  - if roster.current_assignment&.user.blank? && roster.on_call_user.present?
    %span.text-primary
      %i.fa-solid.fa-triangle-exclamation
      as a fallback
  - if roster.on_call_user.present? && roster.fallback_user.blank?
    %span.text-primary
      %i.fa-solid.fa-triangle-exclamation
      with no fallback
- if roster.current_assignment.present?
  %div
    %small
      Switches on
      = l roster.current_assignment.end_datetime, format: :named
