= render layout: 'layouts/rosters' do
  = form_with model: @roster do |f|
    .card.mb-3
      .card-header
        New Roster
      .card-body
        = render partial: 'fields', object: f
        .d-grid
          = button_tag type: :submit, class: 'btn btn-outline-primary' do
            %i.fa-solid.fa-save
            Save
