%h1.title New roster

= form_for Roster.new do |f|
  = f.label :name
  = f.text_field :name
  = f.submit 'Save'
  %br
  To assign the fallback user, first create the roster, then add some users to it.
