= render layout: 'layouts/section', locals: { heading: 'Edit user', closeable: roster_users_path(@roster) } do
  = render partial: 'form', locals: { user: @user, roster: @roster, path: roster_user_path(@roster, @user) }
