= render layout: 'layouts/section', locals: { heading: 'New user', closeable: roster_memberships_path(@roster) } do
  = render partial: 'form', locals: { user: @user, roster: @roster, path: roster_memberships_path(@roster) }
