= render layout: 'layouts/resource', locals: { heading: 'Register' } do
  .card.mb-3
    .card-header
      New User
    .card-body
      = form_with model: @user do |f|
        = render partial: 'fields', object: f
        .d-grid
          = f.button type: :submit, class: 'btn btn-outline-primary' do
            %i.fa-solid.fa-save
            Save
