default: &default
  adapter: trilogy
  encoding: utf8mb4
  collation: utf8mb4_unicode_520_ci
  username: root

development:
  <<: *default
  database: screaming_dinosaur_development

test:
  <<: *default
  database: screaming_dinosaur_test
