- if current_page.first?
  %li.page-item.disabled
    %span.page-link
      %i.fa-solid.fa-angle-left
- else
  %li.page-item
    = link_to url, rel: 'next', remote: remote, class: 'page-link', 'aria-label': 'Previous page' do
      %i.fa-solid.fa-angle-left
