$primary: #881c1c;
$secondary: #63666a;
$success: #76881d;
$danger: #a8431e;
$warning: #c69214;
$info: #71b2c9;
$light: #eee;
$dark: #333;
$fa-font-path: "";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "bootstrap/scss/bootstrap";
@import "@fullcalendar/common/main";
@import "@fullcalendar/daygrid/main";
@import "@fullcalendar/bootstrap5/main";
@import "assignments";
@import "assignments/calendar";
