@use "@fortawesome/fontawesome-free/scss/variables" with ($font-path: "");
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/regular" as fontawesome-regular;
@use "@fortawesome/fontawesome-free/scss/solid" as fontawesome-solid;
@use "bootstrap/scss/bootstrap" with (
  $primary: #881c1c,
  $secondary: #63666a,
  $success: #76881d,
  $danger: #a8431e,
  $warning: #c69214,
  $info: #71b2c9,
  $light: #eee,
  $dark: #333,
);
@use "assignments";
@use "assignments/calendar";

.column-compact {
  width: 1px;
}
