/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

body{
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0px;
  min-height: 100vh;
}

h1.title{
  text-align: center;
}

#content_wrapper{
  flex: 1;
}

#main_content{
  background-color: #fafafa;
  margin: 0 auto;
  min-width: 50em;
  max-width: 70em;
}

#flash{
  font-style: italic;
  margin: 1em auto;
  text-align: center;
  width: 80%;
}

#errors{
  padding: 0.5em 0;
  background-color: orange;
  border: 3px solid red;
}

#message{
  padding: 0.5em 0;
  background-color: lightyellow;
  border: 3px solid limegreen;
}

#current_user_name{
  color: lightgrey;
  float: right;
  margin-right: 2em;
  text-align: right;
}
#links{
  float: right;
  padding: 0 2em 0 0;
}
#links a{
  font-size: 16px;
  margin-right: 5px;
}

.left{
  float: left;
}

.right{
  float: right;
}
