@use "@fortawesome/fontawesome-free/scss/variables" with ($font-path: "");
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/regular" as fontawesome-regular;
@use "@fortawesome/fontawesome-free/scss/solid" as fontawesome-solid;
@use "bootstrap/scss/bootstrap" with (
  $primary: #881c1c
);
@use "tom-select/dist/css/tom-select.bootstrap5";

.input-group > select:first-child + .ts-wrapper.ts-wrapper.ts-wrapper.ts-wrapper.ts-wrapper {
  border-top-left-radius: bootstrap.$input-border-radius;
  border-bottom-left-radius: bootstrap.$input-border-radius;
}

.btn-text {
  line-height: 1;
  text-wrap: nowrap;
}
