@use "@fortawesome/fontawesome-free/scss/variables" with ($font-path: "");
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/regular" as fontawesome-regular;
@use "@fortawesome/fontawesome-free/scss/solid" as fontawesome-solid;
@use "bootstrap/scss/bootstrap" with (
  $primary: #881c1c
);

.btn {
  text-wrap: nowrap;
}

.btn-text {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
  --bs-btn-font-weight: #{bootstrap.$font-weight-normal};
  --bs-btn-line-height: #{bootstrap.$line-height-base};
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-border-color: transparent;

  appearance: none;
  vertical-align: baseline;
}

.nav-link {
  text-wrap: nowrap;
}
