table#calendar{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  th{
    text-align: center;
  }
  td{
    height: 4em;
    border: 1px solid black;
    vertical-align: top;
    .assignment{
      padding: 1em;
      text-align: center;
      .slightly-red{
        background-color: #f7bcbc;
      }
    }
  }
}

#assignments{
  text-align: center;
  table#assignments_table{
    margin: 0 auto;
  }
}
