table#calendar{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  th{
    text-align: center;
  }
  td{
    height: 4em;
    border: 1px solid black;
    vertical-align: top;
    #assignment{
      text-align: center;
    }
  }
}
