#calender {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  margin-bottom: 5%;
}

.cal-head {
  text-align: right;
  color: #999;
  font-weight: normal;
}

.cal-cell {
  width: 14%;
}

.date {
  text-align: right;
  display: block;
  height: 0;
  font-size: 0.8em;
  padding: 0.25em 0.75em 73% 0.25em;
  position: relative;
  border-top: 1px solid #DEDBDB;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.cal-event {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.ass-week {
  border-top: 4px solid #FED6D7;
}

.ass-week .date {
  border: none;
}

.current-day {
  background: #FED6D7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FED6D7, transparent); /* For Safari */
  background: -o-linear-gradient(#FED6D7, transparent); /* For Opera */
  background: -moz-linear-gradient(#FED6D7, transparent); /* For Firefox */
  background: linear-gradient(#FED6D7, transparent); /* Standard syntax */
  border-top: 4px solid #800000;
  background-size: 90%;
  background-repeat: repeat-x;
}

.ass-end {
  background: #CCC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, #808080, transparent); /* For Safari */
  background: -o-linear-gradient(left, #606060, transparent); /* For Opera */
  background: -moz-linear-gradient(left, #606060, transparent); /* For Firefox */
  background: linear-gradient(left, #606060, transparent); /* Standard syntax */
  background-size: 8%;
  background-repeat: repeat-y;
  background-position: right;
}

.ass-start {
  background: #CCC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #808080, transparent); /* For Safari */
  background: -o-linear-gradient(right, #606060, transparent); /* For Opera */
  background: -moz-linear-gradient(right, #606060, transparent); /* For Firefox */
  background: linear-gradient(right, #606060, transparent); /* Standard syntax */
  background-size: 8%;
  background-repeat: repeat-y;
}

