#calender {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
  margin-bottom: 5%;
}

.cal-head {
  text-align: right;
  color: #999;
  font-weight: normal;
}

.cal-cell {
  width: 14%;
}

.date {
  text-align: right;
  display: block;
  height: 0;
  font-size: 0.8em;
  padding: 0.25em 0.75em 73% 0.25em;
  position: relative;
  border-top: 1px solid #DEDBDB;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.cal-event {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.ass-week {
  background: #ECE9D4;
}

.current-day {
  box-shadow: inset 0px 0px 10px #71b2c9;
}

.ass-end {
 border-right: 1px solid #71b2c9;
}

.ass-start {
  border-left: 1px solid #71b2c9;
}

.change-month {
  padding-bottom: 2%;
  font-size: large;
}

