#current_assignment{
  text-align: center;
  margin: 2em 1em;
}

#assignments{
  text-align: center;
  table#assignments_table{
    margin: 0 auto;
    td{
      padding: 0.5em;
    }
  }
}

.lightgrey{
  color: lightgray;
}
