#current_assignment{
  text-align: center;
  margin: 2em 1em;
}

#assignments{
  text-align: center;
  table#assignments_table{
    margin: 0 auto;
    td{
      padding: 0.5em;
    }
  }
}

.slightly-red{
  background-color: lightpink;
  border-radius: 6px;
}

.slightly-green{
  background-color: lightgreen;
  border-radius: 6px;
}

.lightgrey{
  color: lightgray;
}
