%nav.navbar.navbar-expand-lg.bg-body-tertiary.border-bottom
  .container
    = link_to root_path, class: 'navbar-brand' do
      %i.fa-solid.fa-phone
      UMTS On-Call
    = button_tag type: 'button',
                 class: 'navbar-toggler',
                 data: { 'bs-toggle': 'collapse', 'bs-target': '#navbar-content' },
                 aria: { expanded: 'false', label: 'Toggle navigation' } do
      %i.navbar-toggler-icon
    #navbar-content.collapse.navbar-collapse
      - if Current.user.present?
        %ul.navbar-nav.ms-auto
          %li.nav-item.dropdown
            = button_tag Current.user.full_name,
                         type: 'button',
                         class: 'nav-link dropdown-toggle',
                         'data-bs-toggle': 'dropdown',
                         'aria-expanded': 'false'
            %ul.dropdown-menu
              %li= button_to 'Log out', logout_path, class: 'dropdown-item'
